@page "/"

<MudContainer>
    <MudPaper Elevation="3" Width="100%">
        <h1 style="text-align: center">Admin Dashboard</h1>
    </MudPaper>
    <div style="margin-top: 32px"/>
    <p>Welcome to the Engineer's Notebook. A service designed for the creation and discovery of user-generated documentation.</p>
</MudContainer>