@using UnofficialDevryIT.Architecture.Extensions
@model EngineersNotebook.Models.Documentation.CreateDocumentation
@{
    string contents = Model.Contents?.FromBase64();
}
<form asp-controller="Documentation" 
      asp-action="Create" 
      method="post"
      onsubmit="return updateContents()"
      >
    <div class="form-group">
        <label>Title</label>
        <input asp-for="Title"/>
    </div>
    
    <div class="form-group">
        <label>Tags</label>
        <p>
            @string.Join(" ", Model.Tags.Select(x=>x.Id.ToString()))
        </p>
        @Html.DropDownList("tags", Model.Tags.Select(x=>new SelectListItem(x.Name, x.Id.ToString())), "", new {@class="form-control", multiple="true"})
    </div>
    
    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Description" cols="10" rows="10">

        </textarea>
    </div>
    
    <div class="form-group">
        <label>Contents</label>
        <textarea id="editor">
            @if (contents != null)
            {
                @Html.Raw(contents)
            }
        </textarea>
        
        <input asp-for="Contents" type="hidden"/>
    </div>
    
    <div class="form-group">
        <button onclick="updateContents()">Submit</button>
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/z2zu654fzekj3l5wawvyur40qyqn1m3bd2832z7aqzk5jmex/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        function updateContents()
        {
            var editorContents = tinymce.activeEditor.getContent();
            
            document.getElementById("Contents").value = encodeText(editorContents);
            
            return true;
        }
        
        function encodeText(text)
        {
            return btoa(text);    
        }
        
        function decodeText(text)
        {
            return atob(text);    
        }
    
        tinymce.init({
            selector: "#editor",
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
             ],
            menubar: 'file edit view insert format tools table tc help',
            toolbar: 'undo redo | formatselect | ' +
              'bold italic backcolor | alignleft aligncenter ' +
              'alignright alignjustify | bullist numlist outdent indent | ' +
              'removeformat | help',
            content_css: 'dark',  
            height: 600,
        });
    </script>
}