@page "/wiki/create"

@inject ILogger<Create> Logger
@inject IDocService DocService
@inject NavigationManager NavigationManager
@inherits Helpers.BlazorComponent
@namespace EngineerNotebook.BlazorAdmin.Pages.Wiki

<h1 class="mt-3" style="text-align: center">
    New Wiki Document
</h1>

<MudContainer>
    <DocForm OnSave="@OnSave"/>
</MudContainer>

@code{

    void OnSave(string id)
    {
        NavigationManager.NavigateTo($"/wiki/view/{id}");
    }
}