@inherits Helpers.BlazorLayoutComponent

<div class="main">
    <AuthorizeView>
        <div class="sidebar col-2">
            <NavMenu/>
        </div>
    </AuthorizeView>

    <div class="content px-4">
        @Body
    </div>
</div>
