
@inherits Helpers.BlazorLayoutComponent
@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<div class="main">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu/>
        </div>
    </AuthorizeView>
    <div class="top-row px-4">

    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
