@inherits EngineerNotebook.BlazorAdmin.Helpers.BlazorComponent
@namespace EngineerNotebook.BlazorAdmin.Shared

<div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>